<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
    .navbar {
        background: linear-gradient(to right, #40357E, #502171);
    }

    .jumbotron {

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        background: linear-gradient(#40357E, #502171);
        width: 50vw;
        margin: auto;
        margin-top: 5%;
        box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
        color: #FFFFFC;
    }

    i {
        padding: 0 8px;
    }
</style></head>
<body>




    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!--volte os links pros originais-->
                    <a class="nav-link" href="/admin/consultas">
                        <i class="fas fa-home"></i>
                        Voltar
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <!--volte os links pros originais-->
                    <a class="nav-link" href="/admin/pedidos">
                        <i class="fas fa-shopping-cart"></i>
                        Consulta Pedidos
                    </a>
                </li>
        
            </ul>
        </div>
        <a class="navbar-brand" href="../admin">Logout</a>
    </nav>
    <div class="jumbotron">
        <h1 class="display-5">Lista de Funcionarios ativos no sistema</h1>
        <p class="lead">
            {{#each cadastros}}
        </p><h4>Funcionario: {{nome}}</h4>
        <small>Sobrenome: {{sobrenome}}</small><br>
        <small>Contato: {{telefone}}</small><br>
        <small>Matricula: {{matricula}}</small>

        {{else}}
        {{/each}}
        <p></p>

    </div>



</body>
